Q1) Variable containing folowing type of data
1) string
2) list
3) float
4) tuple

In [1]:
a = "Shashi Kant Sharma"

In [2]:
b = ["Geetika",123,56.78,"Harsh",True]

In [3]:
c = 456.76

In [4]:
d = (34,65,76,87)

In [5]:
a

'Shashi Kant Sharma'

In [6]:
b

['Geetika', 123, 56.78, 'Harsh', True]

In [7]:
c

456.76

In [8]:
d

(34, 65, 76, 87)

Q2) Given are some following variables containing data:
(i) var1 = ' '
(ii) var2 = '[ DS , ML , Python]'
(iii) var3 = [ 'DS' , 'ML' , 'Python' ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [9]:
type(' ')

str

In [11]:
type('[ DS , ML , Python]')

str

In [12]:
type([ 'DS' , 'ML' , 'Python' ])

list

In [13]:
type(1.)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

i. '/' is used as division operator to get float value as output

In [14]:
56 / 3

18.666666666666668

ii. '%' modulo operator is used to get the remainder after dividing two inputs

In [15]:
56 % 3

2

iii. '//' floor division is used when we want an integer output after dividing two numbers.

In [16]:
56 // 3

18

iv. '**' is used to calculate power

In [17]:
2**3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [20]:
LIST = [23,"Geetika","Shashi",56.73,True,"Harsh","76.89",89,9.98,2.]
print(len(LIST))
for i in range(len(LIST)):
    print(LIST[i])
    print(type(LIST[i]))

10
23
<class 'int'>
Geetika
<class 'str'>
Shashi
<class 'str'>
56.73
<class 'float'>
True
<class 'bool'>
Harsh
<class 'str'>
76.89
<class 'str'>
89
<class 'int'>
9.98
<class 'float'>
2.0
<class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [1]:
A = 100  
B = 5    
count = 0  
while A % B == 0:
    A = A // B  
    count += 1  
if count > 0:
    print(f"A is divisible by B. It can be divided {count} times.")
else:
    print("A is not divisible by B.")

A is divisible by B. It can be divided 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [3]:
l = [1,2,3,4,5,6,7,8,9,10,12,45,56,75,98,63,90,23,76,9,2,11,12,13,14]
for i in l:
    if i%3 == 0:
        print(f"The number {i} is divisible by 3")
    else:
        print(f"The number {i} is not divisible by 3")

The number 1 is not divisible by 3
The number 2 is not divisible by 3
The number 3 is divisible by 3
The number 4 is not divisible by 3
The number 5 is not divisible by 3
The number 6 is divisible by 3
The number 7 is not divisible by 3
The number 8 is not divisible by 3
The number 9 is divisible by 3
The number 10 is not divisible by 3
The number 12 is divisible by 3
The number 45 is divisible by 3
The number 56 is not divisible by 3
The number 75 is divisible by 3
The number 98 is not divisible by 3
The number 63 is divisible by 3
The number 90 is divisible by 3
The number 23 is not divisible by 3
The number 76 is not divisible by 3
The number 9 is divisible by 3
The number 2 is not divisible by 3
The number 11 is not divisible by 3
The number 12 is divisible by 3
The number 13 is not divisible by 3
The number 14 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data types are those data types that can be altered with respect to its indexes. It means, the element at a particular indexes of variable can be changed. For example, list
Immutable data types are those data types that can not be changes with respect to the indexes. It means, the element at a particular index can not be changed. For example, string, tuple.

In [4]:
s = "Geetika"

In [1]:
s[2] = "t"

NameError: name 's' is not defined

In [2]:
s = "Shashi Kant Sharma"

In [3]:
s

'Shashi Kant Sharma'

In [4]:
l = [45,"Duke","HARSH"]

In [5]:
l[1] = "76"

In [6]:
l

[45, '76', 'HARSH']

In [7]:
t = (54,76,"Tuple","PW")

In [8]:
t[3] = 56

TypeError: 'tuple' object does not support item assignment